doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap", rel="stylesheet")
  body
    div(class='login_card') 
        h1(class='login') Register
        form(action="/users/register/", method="post")
            if(errors)
              each val in errors
                div(id="errors")= val.msg                
            |Name 
            br
            input(type='text', name='name', id='name', value=name)
            br
            br
            |E-mail 
            br
            input(type='text', name='email', id='email', value=email)
            br
            br
            |User ID 
            br
            input(type='text', name='userid', id='userid', value=userid)
            br
            br
            |Password
            br
            input(type='password', name='password', id='password')
            br
            br
            |Confirm Password
            br
            input(type='password', name='cpassword', id='conf_password')
            br
            br
            input(type="submit", value="Sign up", id='submit')
            br
            a(href='/users/login') Already a User? Sign in


